html {
  font-family: Merriweather, serif;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #e2e2e2;
}

.event {
  border-radius: 5px;
}

.event-grey {
  background-color: #f2f2f2;
  border: 1px solid #666;
}

.event-red {
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  color: #b92828;
}

.event-green {
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  color: #6b7e54;
}

.event-blue {
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  color: #1d38da;
}
